/* General */
body {
  background-color: rgb(6, 5, 19);
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;             
  justify-content: space-between; 
  padding: 10px 30px;
  background-color: #130f31; 
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 5px ;
}

.logo {
  width: 60px;
  height: auto;
  margin-right: -18px;
}

.logo-text {
  font-size: 2em;
  margin: 0;
  line-height: 1;
}

.img {
  color: cyan;
  font-size: 1em;
}

.topnav {
  display: flex;
  gap: 15px; 
}

.topnav a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 17px;
  padding: 10px 14px;
  border-radius: 4px;
  transition: color 1s, background-color 1s;
}

.topnav a:hover {
  background-color: #0094f6;
  color: black;
}
